{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support",
    "react-native-dotenv"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        [
          "conditional-compilation",
          {
            "DEBUG": 2,
            "PRODUCT": "celebrify"
          }
        ]
      ]
    },
    "production": {
      "plguins": [
        [
          "conditional-compilation",
          {
            "DEBUG": 2,
            "PRODUCT": "celebrify"
          }
        ],
        "transform-runtime",
        "transform-react-jsx-source",
        {
          "polyfill": false,
          "regenerator": true
        }
      ]
    }
  }
}