{
  "presets": ["babel-preset-expo", "react-native-dotenv"],
  "plugins": [
    ["conditional-compilation", {
      "DEBUG": 2,
      "PRODUCT": "cravity"
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["conditional-compilation", {
          "DEBUG": 2,
          "PRODUCT": "cravity"
        }],
        "transform-react-jsx-source"
      ]
    }
  }
}
