/**
 * Styles for the Sidebar.js component
 */

.sidebar {
  position: fixed;
  height: 100%;
  left: 0;
  z-index: 1000;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: black;
  border-right: 1px solid #eee;

  .nav {
    margin-bottom: 20px;
  }

  .nav-item {
    width: 100%;
    & + .nav-item {
      margin-left: 0;
    }
  }

  .nav-link {
    color: white;
    opacity: 0.8;
    font-size: 0.9rem;
    padding: 0.75rem 2rem;
    

    i {
      font-size: 1.2rem;
      margin-right: 0.4rem;
    }

    span {
      position: absolute;
    }

    &.active, &:hover {
      color: white;
      
    }

    &.active {
      opacity: 1;
      border-left: 3pt solid $primary;
    }
  }
}
